<td><%= latitude %></td>
<td><%= longitude %></td>
<td><%= gmaps %></td>
<td><%= address %></td>
<td><%= name %></td>
<td><%= content %></td>
<td><%= type %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>