<p>
  <b>Latitude:</b>
  <%= latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= longitude %>
</p>

<p>
  <b>Gmaps:</b>
  <%= gmaps %>
</p>

<p>
  <b>Address:</b>
  <%= address %>
</p>

<p>
  <b>Name:</b>
  <%= name %>
</p>

<p>
  <b>Content:</b>
  <%= content %>
</p>

<p>
  <b>Type:</b>
  <%= type %>
</p>


<a href="#/index">Back</a>