<h1>Listing locations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th>Address</th>
    <th>Type</th>
    <th>Is Approved</th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= link_to location.name, location %></td>
    <td><%= location.content %></td>
    <td><%= location.address %></td>
    <td><%= location.type %></td>
    <td><%= location.is_approved %></td>
    <td><%= link_to 'Show', location %></td>
    <td><%= link_to 'Edit', edit_location_path(location) %></td>
    <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Location', new_location_path %>
<%= link_to 'Import', 'locations/excel_import' %>
