<p id="notice"><%= notice %></p>

<p>
	<b>Name:</b>
	<%= @location.name %>
</p>

<p>
	<b>Description:</b>
	<%= @location.description %>
</p>

<p>
	<b>Address:</b>
	<%= @location.address %>
</p>

<p>
	<b>Bioregion:</b>
	<%= @location.bioregion %>
</p>

<p>
	<b>Category:</b>
	<%= @location.category.name %>
</p>

<p>
	<b>Sub-categories:</b>
	<% @location.subcategory.each do |sc| %>
	<%= sc.name %>,
	<% end %>
</p>

<p>
	<b>Email:</b>
	<%= @location.email %>
</p>

<% if not @location.url.nil? %>
<p>
	<b>Url: </b>
	<%= link_to @location.url, @location.url %>
</p>
<% end %>

<% if not @location.fb_url.nil? %>
<p>
	<b>Facebook: </b>
	<%= @location.fb_url %>
</p>
<% end %>

<% if not @location.twitter_url.nil? %>
<p>
	<b>Twitter: </b>
	<%= @location.twitter_url %>
</p>
<% end %>

<p>
	<b>Show Until:</b>
	<% if not @location.show_until.nil? %>
	<%= @location.show_until %>
	<% else %>
	Not Set
	<% end %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
