<p id="notice"><%= notice %></p>

<p>
	<b>Name:</b>
	<%= @location.name %>
</p>

<p>
	<b>Description:</b>
	<%= @location.description %>
</p>

<p>
	<b>Address:</b>
	<%= @location.address %>
</p>

<p>
	<b>Bioregion:</b>
	<%= @location.bioregion %>
</p>

<p>
	<b>Category:</b>
	<%= @location.category.name %>
</p>

<p>
	<b>Sub-categories:</b>
	<% @location.subcategory.each do |sc| %>
	<%= sc.name %>,
	<% end %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
