<ul class="sub_sections">
  <li><%= link_to t('accounts.menu_titles.summary'), :account %></li>
  <li><%= link_to t('accounts.menu_titles.personal_info'), :account %></li>
  <li><%= link_to t('accounts.menu_titles.account_options'), :account %></li>
  <li><%= link_to t('accounts.menu_titles.billing_info'), :account %></li>
  <li><%= link_to t('accounts.menu_titles.password_settings'), :account %></li>
</ul>
