<div class="container-fluid">
  <div class="container">
    <%= error_messages_for @user %>

    <div class="page-header">
      <h1><%= t('passwords.forgot') %></h1>
    </div>

    <p><%= t('passwords.reset_message') %></p>

    <%= form_for User.new, :url => :retrieve_password do |form| %>
      <div class="fieldset.form-horizontal">
        <div class="control-group">
          <%= label_tag :email, nil, :class => 'control-label' %>
          <div class="controls"><%= text_field_tag :email %></div>
        </div>

        <div class="form-actions">
          <%= submit_tag t('passwords.send_instructions'), :class => 'btn btn-primary' %>
          or
          <%= link_to t('messages.cancel'), :login %>
        </div>
      </div>
    <% end %>
  </div>
</div>
