<div class="container-fluid">
  <div class="container">
    <div class="page-header">
      <h1><%= t('passwords.reset') %></h1>
    </div>
    <%= form_for @user, :url => :password_reset do |form| %>
      <div class="fieldset form-horizontal">
        <div class="control-group">
          <%= form.label :password, :class => 'control-label' %>
          <div class="controls"><%= form.password_field :password %></div>
        </div>
        <div class="form-actions">
          <%= submit_tag t('passwords.reset'), :class => 'btn btn-primary' %>
        </div>
      </div>
  </div>
</div>
